<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TWISENT</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="../static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/default.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style>
		
		p.ex1{
		padding: 25px opx
		}
		
	.Trend_btn {
    background-color: #006666; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

		</style>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
	
	
			 var images = [], x = -1;
      
	      
          function displayNextImage() {
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img").src = images[x];
          }

          function displayPreviousImage() {
              x = (x <= 0) ? images.length - 1 : x - 1;
              document.getElementById("img").src = images[x];
          }

          function startTimer() {
		 
		  var n;
		  images=[]
			var length= {{image_array}}
			for(i=0;i<length;i++)
			{
			n=i.toString();
			images[i]="../static/allpictures/a_new_hope"+n+".png";
			}
              setInterval(displayNextImage, 3000);
          }

          
	
	
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Tweets', 'Tweets Nature'],
          ['Postitive',     {{positive}}],
          ['Negative',     {{negative}}],
		  ['Neutral',     {{neutral}}]
        ]);

        var options = {
          title: 'Nature Of Tweets'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
		
    </head>
    <body onload="startTimer()">
	
	
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#section-works">Domains</a></li>
						<li><a href="#section-Tweets">View Tweets</a></li>
						<li><a href="#section-subtopics">View Subtopics</a></li>
					</ul>
				</div>
			</div>
		</div>


<!-- section Graph -->
	<section id="section-Graph" class="featured">
	<div class="container" style="padding: 50px 0px">
	<h2> {{trend_name}} </h2>
	</br>
	<div class="row">
		<div id="piechart" style="width: 900px; height: 500px;"></div>
	 </div>
</div>		
</section>

<!-- section subtopics -->
	<section id="section-subtopics" class="featured">

<div id="slide-show" style="width: 700px; height: 300px; margin:0 auto; ">
<img id="img" src="../static/allpictures/a_new_hope0.png"/>
       <button type="button" onclick="displayPreviousImage()">Previous</button>
       <button type="button" onclick="displayNextImage()">Next</button>

<div>		
</section>
	
		
	<!-- section Tweets -->
<section id="section-Tweets" class="featured">
<div class="container-fluid" style="padding: 50px 0px">
	<h2> {{trend_name}} </h2>
	</br>
	<div class="row">
	<div class="col-sm-4" style="background-color:lavender;">
	<h2 style="color: black">Positive</h2>
	<p align='center'>
	<table width='100%'>
	<tr>
		<ul>
		{% for item in pos %}
		<li style="color: black; font-size: 20px"><b>{{ item.decode('utf-8',errors='ignore') }} <b></li>
		{%  endfor %}
		</ul>
	</tr>
	</table>	
		</div>
		
		<div class="col-sm-4" style="background-color:lavenderblush;">
		<h2 style="color: black">Neutral</h2>
		<p align='center'>
		<table width='100%'>
		<tr>
		<ul>
		{% for item in neu %}
		
		<li style="color: black; font-size: 20px"><b>{{ item.decode('utf-8',errors='ignore') }} <b></li>
		{%  endfor %}
		</ul>
		</tr>
		</table>	
		</div>
		
		<div class="col-sm-4" style="background-color:lavender;">	
		<h2 style="color: black">Negative</h2>
		<p align='center'>
		<table width='100%'>
		<tr>
		<ul>
		{% for item in neg %}
		<li style="color: black; font-size: 20px"><b>{{ item.decode('utf-8',errors='ignore') }}<b></li>
		{%  endfor %}
		</ul>
		</tr>
		</table>
		</div>
  </div>
</div>		
</section>

	<!-- section Domain -->
		<section id="section-works" class="appear">
			<div class="container" style="padding: 50px 0px">
				        <div class="section-header">
							<h1 class="section-heading animated" data-animation="bounceInUp">Trend Domains</h1>
							</br>
							<h3>Here you can find many Trends regarding some specific Domain.</h3>
						</div>
					</br>
						<div class="row">
                          
                          <div class="col-md-12">
                            <div class="row">
                              <div class="portfolio-items isotopeWrapper clearfix" id="3">
							  
							  
							  
							  <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/img2.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Politics">Politics</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>
								
								
								<article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										<img src="../static/images/img4.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Education">Education</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>
                                <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/img1.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"  height="100" width="100">
												<h5><a href="Sports">Sports</a></h5>
												<a src="img/portfolio/img1.jpg" class="fancybox" height="100" width="100"></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                
								<article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/clebs.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Celebrity">Celebrities</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/images/img8.jpg" alt=""  height="200" width="300" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Terrorism" role="button">Terrorism</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>


                                

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/images/img7.jpg" alt=""  height="200" width="300" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Others" role="button">Miscellaneous</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>

                                

                               
                                </div>
                                        
							</div>
                                     

							</div>
                        </div>
				
			</div>
		</section>


	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="../static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
	<script src="../static/js/jquery.isotope.min.js"></script>
	<script src="../static/js/jquery.nicescroll.min.js"></script>
	<script src="../static/js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="../static/js/skrollr.min.js"></script>		
	<script src="../static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../static/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="../static/js/stellar.js"></script>
	<script src="../static/js/jquery.appear.js"></script>
	<script src="../static/js/validate.js"></script>
    <script src="../static/js/main.js"></script>
	
	
		<script>
		/*function images()
		{
			var images = [];
			var n;
			var length= {{image_array}}
			for(i=0;i<length;i++)
			{
			n=i.toString();
			images[i]="../static/images/a_new_hope"+n+".png";
			}

	var speed = 5; //sec

// Your image array


// Get the slideShow tag
var slideShow = document.getElementById('slide-show');

// Create the image tag  //You could also just make one in HTML and get the tag
var img = document.createElement('img');

// Append the image to the slideshow container
slideShow.appendChild(img);

// Basic request animation polyfill 
var rAF = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame || function (callback) {
        return setTimeout(callback, 1000 / 60);
    };

// declare var count outside of rAF loop
var count;

function changeImage(timeStamp) {
    count = Math.floor(timeStamp / 1000 / speed);

    while (count > 2) {
        count -= 3;
    }

    img.src = images[count];

    rAF(changeImage);
}

rAF(changeImage);
}*/
	</script>
        
	</body>

</html>









