<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TwiSent</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="../static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../static/css/style.css">
		
		<link rel="stylesheet" href="../static/css/default.css">
		
		<style>
		
		p.ex1{
		padding: 25px opx
		}
		</style>
    </head>
	 
    <body>
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<p><a href="index.html"><font color="white"><b>TwiSent</b> </font>
					</a></font></p>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#section-works">Domains</a></li>
						<li><a href="#section-contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		
		<section class="featured">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						<div class="align-center">
        <img src="../static/images/logo1.png" height="300" width="300">
        </div>
						<div class="align-center">
							
							<h2 class="slogan">Welcome to Twisent</h2>
							<p style="font-size: 20px">
						
							A Sentiment Analyzer Tool.
							It Provides you a Real-Time Sentiment Analysis. 
							It Gives you Clarity Behind what people say.
						
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
			
		
		<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">				
					<div class="col-lg-12">
							<div class="align-center">
										<div class="testimonial pad-top10 pad-bot40 clearfix">
											<h3>
												<font color="5f9ea0"> 
												Sentiment Analysis is the process of determining the emotional tone behin the series of words, used to gain an understanding of the attitudes opinions and emotions
												expressed within an online mention.This application allows you to gain an overview of the wider public opinion behind certain topics.
												</font>
											</h3>
											<br/>
											
										</div>

								</div>
							</div>
					</div>
				
			</div>	
		</div>	
		</section>
			

		
		
		<!-- section works -->
		<section id="section-works" class="section appear clearfix">
			<div class="container" style="padding: 50px 0px">
				<div class="section-header">
							<h1 class="section-heading animated" data-animation="bounceInUp">Trend Domains</h1>
							</br>
							<h3>Here you can find many Trends regarding some specific Domain.</h3>
						</div>
					</br>
                        <div class="row">
                          
                          <div class="col-md-12">
                            <div class="row">
                              <div class="portfolio-items isotopeWrapper clearfix" id="3">
							  
							  
							  
							  <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/img2.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Politics">Politics</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>
								
								
								<article class="col-md-4 isotopeItem print">
									<div class="portfolio-item">
										<img src="../static/images/img4.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Education">Education</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>
                                <article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/img1.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"  height="100" width="100">
												<h5><a href="Sports">Sports</a></h5>
												<a src="img/portfolio/img1.jpg" class="fancybox" height="100" width="100"></a>
											 </div>										   
										 </div>
									</div>
                                </article>

                                
								<article class="col-md-4 isotopeItem webdesign">
									<div class="portfolio-item">
										<img src="../static/images/clebs.jpg" alt="" height="200" width="300"/>
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Celebrity">Celebrities</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/images/img8.jpg" alt=""  height="200" width="300" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Terrorism" role="button">Terrorism</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>


                                

                                <article class="col-md-4 isotopeItem photography">
									<div class="portfolio-item">
										<img src="../static/images/img7.jpg" alt=""  height="200" width="300" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info"height="100" width="100">
												<h5><a href="Others" role="button">Miscellaneous</a></h5>
												
											 </div>										   
										 </div>
									</div>
                                </article>

                                </div>
                                        
							</div>
                                     

							</div>
                        </div>
				
			</div>
		</section>


		

	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="../static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
	<script src="../static/js/jquery.isotope.min.js"></script>
	<script src="../static/js/jquery.nicescroll.min.js"></script>
	<script src="../static/js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="../static/js/skrollr.min.js"></script>		
	<script src="../static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../static/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="../static/js/stellar.js"></script>
	<script src="../static/js/jquery.appear.js"></script>
	<script src="../static/js/validate.js"></script>
    <script src="../static/js/main.js"></script>
        
	</body>
</html>